.user-container {
  margin-top: 2rem;
}

.tripRow{
  display: table;
  width: 100%;
  table-layout: fixed;    /* For cells of equal size */
}
.tripRow label {
  display: table-cell;
  text-align: center;
}
.selected {
  background-color: dodgerblue;
  color: dodgerblue;
  font-weight:bold;
}